/* Палитра цветов макета */
:root {
  --main-bg-color: #ffffff;
  --dark-bg-color: #2f303a;
  --pale-bg-color: #f5f4fa;
  --hero-bg-color: #c4c4c4;
  --overlay-shading-color: rgba(47, 48, 58, 0.4);
  --overlay-text-color: rgba(47, 48, 58, 0.8);
  --overlay-portfolio-color: rgba(33, 150, 243, 0.9);
  --overlay-backdrop-color: rgba(0, 0, 0, 0.2);
  --btn-bg-color: #f5f4fa;
  --primary-text-color: #757575;
  --inverse-text-color: #ffffff;
  --title-text-color: #212121;
  --nav-link-color: #212121;
  --logo-black-color: #000000;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --footer-social-color: rgba(255, 255, 255, 0.1);
  --accent-color: #2196f3;
  --border-color: #eeeeee;
  --border-black-color: #000000;
  --border-modal-btn: rgba(0, 0, 0, 0.1);
  --border-input-color: rgba(33, 33, 33, 0.2);
  --modal-placeholder-text-color: rgba(117, 117, 117, 0.5);
  --icon-color: #afb1b8;
}

/*-------Общие стили-------*/

/* Общие объявления */

body {
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-style: normal;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Логотип */

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

header .logo {
  color: var(--logo-black-color);
}

footer .logo {
  display: inline-block;
  color: var(--inverse-text-color);
  margin-bottom: 20px;
}

.logo-start {
  color: var(--accent-color);
}

/* Шапка */

.site-header .container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav-list {
  display: flex;
}

.nav-list > .item + .item {
  margin-left: 50px;
}

.nav-list > .item:first-child {
  margin-left: 93px;
}

.header-contact {
  display: flex;
}

.header-contact > .item + .item {
  margin-left: 30px;
}

.nav-list .nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--nav-link-color);

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-header .contact-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-header .link-icon {
  margin-right: 10px;
}

/* Реализация иконок с помощью псевдоэлемента ::before */
/*.site-header .contact-link::before {
  display: inline-flex;
  height: 16px;
  margin-right: 10px;
  content: '';
  background-repeat: no-repeat;
  background-position: bottom right;
}

.contact-link.phone::before {
  width: 12px;
  background-image: url(../images/svg/smartphone.svg);
}

.contact-link.email::before {
  width: 16px;
  background-image: url(../images/svg/envelope.svg); 
} */

.nav-link.current {
  position: relative;
  color: var(--accent-color);
}

.nav-link.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.link-icon {
  fill: currentColor;
}

.site-header {
  border-bottom: 1px solid var(--border-color);
}

/* Подвал */

.site-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
}

.site-footer .container {
  display: flex;
  align-items: baseline;
}

.site-footer .social-links {
  display: flex;
}

.social-container {
  margin-left: 70px;
}

.social-container .item.item:not(:last-child) {
  margin-right: 10px;
}

.social-container .social-link {
  background-color: var(--footer-social-color);
  color: var(--inverse-text-color);
}

.social-container .social-icon {
  fill: currentColor;
}

.social-container .social-link:hover,
.social-container .social-link:focus {
  background-color: var(--accent-color);
}

.join-text {
  margin-top: 0;
  margin-bottom: 20px;

  color: var(--inverse-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.address {
  min-width: 231px;

  color: var(--inverse-text-color);

  font-style: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contact .link {
  color: var(--footer-address-color);
  text-decoration: none;
}

.footer-contact .item + .item {
  margin-top: 9px;
}

.subscribe-container {
  flex-grow: 1;
  margin-left: 93px;
}

.subscribe-form {
  display: flex;
}

.subscribe-field {
  display: inline-block;
  flex-grow: 1;
  margin-right: 12px;
}

.subscribe-email {
  display: inline-block;
  width: 100%;
  padding: 14px 16px;

  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe-icon {
  fill: currentColor;
  margin-left: 10px;
}

/* -------Стили для страницы Студия------- */

/* Герой */

.section.hero {
  padding-top: 0;
  padding-bottom: 0;

  background-color: var(--hero-bg-color);
}

.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;

  border: 1px solid var(--border-black-color);
  background-image: linear-gradient(
      to right,
      var(--overlay-shading-color),
      var(--overlay-shading-color)
    ),
    url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  text-align: center;
}

.hero .title-container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero-title {
  margin: 0;

  color: var(--inverse-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.main-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  padding: 10px 20px;

  background-color: var(--accent-color);
  color: var(--inverse-text-color);
  border-radius: 4px;
  border: none;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

.main-button:hover {
  cursor: pointer;
}

/* Секция преимуществ */

.feature-items {
  display: flex;
}

.feature-items .item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}

.feature-items .item:not(:last-child) {
  margin-right: 30px;
}

.feature-icon {
  display: block;
  width: 100%;
  height: 120px;
  padding: 25px 0;
  margin-bottom: 30px;

  background-color: var(--pale-bg-color);
  border-radius: 4px;
}

/* Реализация иконок с помощью псевдоэлемента ::before */
/* .feature-items .item::before {
  display: block;
  height: 120px;
  margin-bottom: 30px;
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--pale-bg-color);
}

.feature-items .item:nth-child(1):before {
  background-image: url(../images/svg/antenna.svg);
}

.feature-items .item:nth-child(2):before {
  background-image: url(../images/svg/clock.svg);
}

.feature-items .item:nth-child(3):before {
  background-image: url(../images/svg/diagram.svg);
}

.feature-items .item:nth-child(4):before {
  background-image: url(../images/svg/astronaut.svg);
} */

.feature-heading {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.feature-details {
  margin-top: 0;
  margin-bottom: 0;
  /* max-width: 270px; */

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Секция Чем мы занимаемся */

.section.business {
  padding-top: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.business-items {
  display: flex;
}

.business-items .photo {
  display: block;
  width: 100%;
}

.business-items .item:not(:last-child) {
  margin-right: 30px;
}

.business-thumb {
  position: relative;
  width: 100%;
  height: 100%;
}

.title-overlay {
  position: absolute;
  width: 100%;
  padding: 27px 0;
  bottom: 0;

  background-color: var(--overlay-text-color);
}

.business-title {
  margin: 0;

  color: var(--inverse-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Секция Наша команда */

.section.team {
  background-color: var(--pale-bg-color);
}

.team-members {
  display: flex;
}

.team-members > .item {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-members > .item:not(:last-child) {
  margin-right: 30px;
}

.team-members .photo {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.team-member {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-position {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-members .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0 30px;
}

.team-members .social-link {
  background-color: var(--main-bg-color);
  color: var(--icon-color);
}

.team-members .social-links .item:not(:last-child) {
  margin-right: 10px;
}

.team-members .social-icon {
  fill: currentColor;
}

.team-members .social-link:hover,
.team-members .social-link:focus {
  background-color: var(--accent-color);
  color: var(--inverse-text-color);
}

/* Секция Постоянные клиенты */

.client-list {
  display: flex;
}

.client-list .item {
  flex-basis: calc((100% - 5 * 30px) / 6);
}

.client-list .item:not(:last-child) {
  margin-right: 30px;
}

.client-list .client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;

  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);

  outline-color: var(--accent-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    filter 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list .link-icon {
  fill: currentColor;
}

.client-list .client-link:hover,
.client-list .client-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
  cursor: pointer;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
}

/* -------Стили для страницы Портфолио------- */

/* Секция Примеры работ*/

.filter-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button {
  display: inline-block;
  padding: 6px 22px;

  background-color: var(--btn-bg-color);
  color: var(--title-text-color);
  border-radius: 4px;
  border: none;
  outline: none;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-container .item:not(:last-child) {
  margin-right: 8px;
}

.filter-button.btn-active,
.filter-button:hover,
.filter-button:not(.btn-active):focus {
  background-color: var(--accent-color);
  color: var(--inverse-text-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button.btn-active:focus {
  border: 2px solid black;
  margin: -2px -2px;
}

.works-samples {
  display: flex;
  flex-wrap: wrap;
}

.works-samples .item {
  flex-basis: calc((100% - 2 * 30px) / 3);
}

.works-samples .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.works-samples .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.work-link:hover,
.work-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-link:hover .works-overlay,
.work-link:focus .works-overlay {
  transform: translateY(-100%);
}

.work-link {
  display: block;
  text-decoration: none;
  outline: none;
  cursor: pointer;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-samples .photo {
  display: block;
  width: 100%;
}

.work-meta {
  padding: 20px 24px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.work-name {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-category {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.works-thumb {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.works-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 100%;

  padding: 0 24px;

  background-color: var(--overlay-portfolio-color);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-details {
  padding: 0;

  color: var(--inverse-text-color);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

/* Модальное окно */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  opacity: 1;
  background-color: var(--overlay-backdrop-color);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  /* visibility: hidden; */
}

.backdrop.is-hidden .modal {
  /* transform: scale(0.9) translate(-50%, -50%);*/
  transform: translate(-50%, -150%);
}

.modal {
  position: absolute;
  width: 528px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;

  border-radius: 4px;
  background-color: var(--main-bg-color);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;

  color: var(--logo-black-color);
  border: 1px solid var(--border-modal-btn);
  border-radius: 50%;
  background-color: var(--main-bg-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  fill: currentColor;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.modal-text {
  margin: 0 0 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.field {
  display: block;
  margin-bottom: 10px;
}

.comment-field {
  margin-bottom: 20px;
}

.field-label {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.input-container {
  position: relative;
}

.field-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-input {
  display: block;
  width: 100%;
  padding: 12px 24px 12px 42px;

  outline: none;
  border: 1px solid var(--border-input-color);
  border-radius: 4px;
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
  resize: none;
  padding: 12px 16px;
}

.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;

  color: var(--modal-placeholder-text-color);
}

.field:focus-within .field-input {
  border-color: var(--accent-color);
}

.field:focus-within .field-icon {
  fill: var(--accent-color);
}

.licence-declaration,
.licence-link {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.licence-declaration {
  display: inline-flex;
  align-items: center;
}

.licence-link {
  display: inline-block;
  color: var(--accent-color);
}

.checkbox-field {
  margin-bottom: 30px;
}

.licence-declaration::before {
  display: inline-block;
  content: '';
  margin-right: 7px;
  width: 16px;
  height: 15px;

  border-radius: 2px;
  border: 2px solid var(--title-text-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .licence-declaration::before {
  border-color: transparent;
  background-color: var(--accent-color);
  background-position: center;
  background-size: contain;
  background-origin: border-box;
  background-image: url(../images/icon-check.svg);
}

.field-input.checkbox:focus + .licence-declaration::before,
.field-input.checkbox:hover + .licence-declaration::before {
  border-color: var(--accent-color);
}

.modal-submit {
  align-self: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Уточнить по поводу цвета ховера кнопки модального окна */
.modal-submit:hover,
.modal-submit:focus {
  background-color: #188ce8;
}
